.TaskList-heading {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.TaskList-headingText {
  font-size: 24px;
}

.TaskList-list {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

.TaskList-listItem {
  border-top: 1px solid #ddd;
  padding: 20px 0;
}
